body {
  background-color: #111;
  color: #fff;
  font-family: monospace;
  margin: 5% 10%;
}

.screenFill {
    position:fixed;
    padding:0;
    margin:0;

    bottom:0;
    left:0;

    width: 100%;
    height: 0;
    z-index: 10;
    overflow-y: auto;

    background: #0af;
    background-size: 100% 200%;
    background-position: right top;
    animation: heightUp 1200s 1s forwards;
    animation-delay: 200s;
}

h1 {
  margin: 0 30px;
  font-weight: 100;
}

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

.primeary, .song, .inequality, .poemGraphic {
  display: none;
  width: 100%;
}

table {
  border-spacing: 30px;
}

.song-cell, .inequality-cell, .primeary-cell, .poemGraphic-cell {
  border: solid #0af;
}

.primeary-cell {
  display: block;
  background: linear-gradient(to top, #0af 50%, transparent 0);
  background-size: 100% 200%;
  background-position: right top;
  animation: fillUp 150s 1s forwards;
  animation-delay: 25s;
}

.poemGraphic-cell {
  background: linear-gradient(to top, #0af 50%, transparent 0);
  background-size: 100% 200%;
  background-position: right top;
  animation: fillUp 500s 1s forwards;
  animation-delay: 60s;
}

.primeary-container, .song-container, .inequality-container, .poemGraphic-container {
  margin: 20px 0;
  text-align: left;
  width: 100%;
  border-radius: 3px;
  position: relative;
}

audio, .audio-player, .song {
  width: 100%;
}

.poemGraphicTable {
  margin: auto;
}

.poemGraphicTable td {
    padding: 10px 25px;
}

.graphic {
  max-width: 100px;
}

/****** slideshow buttons ******/
.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: #555;
  font-size: 18px;
  user-select: none;
}

.prev:active, .next:active {
  color: #777;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/****** dot indicators ******/
.dots-container {
  text-align: center
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}



/****** animations ******/

/* code adapted from https://codepen.io/Penno/pen/mVPqdb */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    bottom: 0;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -200px;
  }
}

@keyframes fill {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(360deg);
  }
}

.drops {
  -webkit-filter: url('#liquid');
  filter: url('#liquid');
  position: absolute;
  bottom: -30px;
  z-index: 1;
  opacity: 0;
}

.inequality-drop {
  position: absolute;
  left: 8px;
  animation: fade-in .1s linear .4s forwards;
  animation-delay: 10s;
}

.primeary-drop {
  position: absolute;
  left: 200px;
  animation: fade-in .1s linear .4s forwards;
  animation-delay: 50s;
}

.poem-drop {
  position: absolute;
  left: 90px;
  animation: fade-in .1s linear .4s forwards;
  animation-delay: 170s;
}

.drop {
  animation: drop 1.3s cubic-bezier(1,.19,.66,.12) .5s infinite;
  background-color: #0af;
  width: 4px;
  height: 10px;
  position: absolute;
}

@keyframes fillUp {
  100% {
    background-position: left bottom;
  }
}

@keyframes heightUp {
  100% {
    height: 100%;
  }
}
